.chatBubbleContain {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.chatBubbleContainUser {
  align-items: flex-end;
  justify-content: space-between;
}

.chatBubble {
  max-width: 70%;
  border-radius: 10px;
  background-color: #2d2865;
  user-select: none;
  margin-bottom: 12px;
}

.chatBubbleUser {
  background-color: #36354a;
}

.chatBubbleContents {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.chatBubbleActionItems {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 8px;
  font-size: 18px;
  color: #686585;
  height: 20px;
}

.chatBubbleActionIcon:hover {
  color: #ffffff;
}

.chatBubbleActionIcon {
  padding: 4px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  user-select: none;
}

.chatBubbleActionIconSelected {
  background-color: #36354a;
}

.chatBubbleActionIconDisabled {
  cursor: not-allowed;
  color: #686585;
}

.chatBubbleActionIconDisabled:hover {
  color: #686585;
}

.chatBubbleExtra {
  padding: 5px 10px;
  background-color: #282735;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  color: #909090;
}

.chatBubbleExtraIcons {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.chatBubbleExtraClose {
  cursor: pointer;
  margin-top: 5px;
}

.chatBubbleSegment {
  cursor: pointer;
}

.chatBubbleSegment:hover {
  color: #ffffff;
  background-color: #1f1f25;
}

.chatCorrectionIcon {
  cursor: pointer;
  font-size: 18px;
  margin-top: 4px;
}

.chatBubbleAndCorrection {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.chatBubbleAndCorrection .chatBubble {
  max-width: fit-content;
}