.chatWindowContain {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.imageContain {
  width: 40%;
  height: 100vh;
  overflow: hidden;
}

.chatImage {
  width: 800px;
  height: 100vh;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.loadingChatImage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatInterface {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chatHistoryContain {
  width: calc(100% - 16px);
  display: flex;
  flex-direction: column;
  padding: 20px 8px;
  overflow: scroll;
  height: calc(100vh - 100px);
}

.chatMessageContain {
  width: 100%;
  height: 100px;
  border-top: 1px solid #656565;
  padding: 8px;
  background-color: #393939;
  display: flex;
}

.chatMessageInput {
  width: calc(100% - 70px);
  height: 92px;
  max-height: 92px;
  overflow: scroll;
}

.chatSendButton {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #5f67ee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.chatSendButton:hover {
  background-color: #4f56d1;
}

.chatSendButtonDisabled {
  cursor: not-allowed;
  background-color: #656565;
}

.chatSendButtonDisabled:hover {
  background-color: #656565;
}

.chatQuestBar {
  width: 200px;
  height: 100vh;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatQuestMenu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-bottom: 20px;
}

.chatQuestMenuItem {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  padding: 0 14px;
  user-select: none;
}

.chatQuestMenuItem:hover {
  background-color: #3e428e;
}

.chatQuestContain {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 14px;
}

.chatQuestTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 5px;
}

.chatQuests {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.chatQuestItem {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
}

.chatQuestIcon {
  margin-top: 1px;
}
